<section id="hero">
    <div id="particles-js">
      <canvas class="particles-js-canvas-el" width="1912" height="902" style="width: 100%; height: 100%;"></canvas>
    </div>
    <div class="part-header" >
    </div>
    <div id="particles-text-morph">
      <h2  class="animate__animated  animate__swing">Welcome to the nest</h2>
      <p class="animate__animated animate__backInUp">coming soon...</p>
      
      <!-- <div class="example-button-container">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div> -->
    </div>
    <!-- <div class="box rotate"></div> -->
    <!-- I am a <span id="js-rotating">So Simple, Very Doge, Much Wow, Such Cool</span> Text Rotator -->
   
  </section>